# Бинарные файлы
*.exe
*.dll
*.so
*.dylib
*.test

# Кэш и временные файлы
*.out

# Папка зависимости (если используешь vendor)
vendor/

# Настройки окружения
.env
.env.*

# IDE-файлы (если используешь VS Code)
.vscode/
.idea/

# Логи
*.log
